<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta tags for Search Engines -->
    <meta
      name="description"
      content="restaurant, meat, steak, hamburgers, book a table, contact, miami, florida"
    />

    <meta
      name="keywords"
      content="restaurant, meat, steak, hamburgers, book a table, miami, florida"
    />

    <!-- Favicon -->
    <link rel="icon" href="./static/img/favicon.webp" />

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    <title>{% block title %} Meat Hook {% endblock %}</title>

    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    <header id="navbar">
      <nav>
        <a href="{% url 'home'%}" class="navbar-logo">
          <h1>Meat Hook <i class="fa-solid fa-utensils"></i></h1
        ></a>

        <!-- Hamburger Menu -->
        <div class="menu-icon" onclick="toggleMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>

        <!-- Menu items -->
        <ul class="menu">
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'find_booking' %}">Find Booking</a></li>
          <li><a href="{% url 'home'%}#contact-section">Contact</a></li>
        </ul>
      </nav>
    </header>

    <!-- Main -->
    {% block main %} {% endblock %}

    <!-- Footer -->
    <footer>
      <p class="copyright">&copy; 2025 around:: Development Bureau</p>
    </footer>

    <!-- Font Awesome link -->
    <script
      src="https://kit.fontawesome.com/b39e6ae36f.js"
      crossorigin="anonymous"
    ></script>

    <!-- Custom scripts -->
    <script src="/static/scripts/base.js"></script>
  </body>
</html>
