<!DOCTYPE html>
<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Styles -->
{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/booking_conf.css' %}" />
{% endblock %}
<title>{% block title %} Booking Confirmation {% endblock %}</title>

<!-- Main -->
{% block main %}
<main>
  <section id="confirmation-section">
    <h2>Thank you for your booking!</h2>
    <div class="para-text">
      <h3>Please review below booking details:</h3>
      <p>Name: {{booking.name}}</p>
      <p>Email: {{booking.email}}</p>
      <p>Phone: {{booking.phone}}</p>
      <p>Date: {{booking.date}}</p>
      <p>Time: {{booking.time}}</p>
      <p>Party Size: {{booking.party_size}}</p>
      <p>We look forward to serve you!</p>
    </div>
    <div class="edit-buttons">
      <a href="{% url 'edit_booking' booking.id %}">Edit Booking</a>
      <form method="POST" action="{% url 'delete_booking' booking.id %}">
        {% csrf_token %}
        <button type="submit">Delete Booking</button>
      </form>
    </div>
  </section>
</main>
{% endblock %}
