<!DOCTYPE html>
<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Styles -->
{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/booking_conf.css' %}" />
{% endblock %}
<title>{% block title %} Booking Confirmation {% endblock %}</title>

<!-- Main -->
{% block main %}
<main>
  <section id="confirmation-section">
    <h2>Booking Confirmation</h2>
    <h3>Thank you for your booking!</h3>
    <h4>Please review below booking details:</h4>
    <div class="para-text">
      <p>Name: {{booking.name}}</p>
      <p>Email: {{booking.email}}</p>
      <p>Phone: {{booking.phone}}</p>
      <p>Date: {{booking.date}}</p>
      <p>Time: {{booking.time}}</p>
      <p>Party Size: {{booking.party_size}}</p>
      <p>We look forward to serve you!</p>
    </div>
    <a href="{% url 'edit_booking' booking.id %}">Edit Booking</a>
  </section>
</main>
{% endblock %}
