<!DOCTYPE html>
<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Styles -->
{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/delete_conf.css' %}" />
{% endblock %}

<title>{% block title %} Booking Deletion Confirmation {% endblock %}</title>

<!-- Main -->
{% block main %}
<main>
  <section class="delete-conf">
    <h2>Your booking has been successfully deleted!</h2>
  </section>

  <section class="remainder-of-space">Remainder of space (Hidden)</section>
</main>
{% endblock %}
