<!DOCTYPE html>
<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Styles -->
{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/edit_booking.css' %}" />
{% endblock %}

<title>{% block title %} Edit Booking {% endblock %}</title>

<!-- Main -->
{% block main %}
<main>
  <!-- Edit booking -->
  <div id="edit-bookings">
    <section id="edit-booking-section">
      <h2>Edit booking</h2>
      <form method="POST" action="{% url 'edit_booking' booking_id %}">
        {% csrf_token %} {{form}}
        <button type="submit" , name="book">Update booking</button>
      </form>
      <p>Booking ID: {{booking_id}}</p>
    </section>
  </div>
</main>
{% endblock %}
