<!DOCTYPE html>
<!-- Inherit bg, header and footer from base.html -->
{% extends 'base.html' %}

<!-- Styles -->
{% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}

<!-- Main -->
{% block main %}
<div id="main-wrapper">
  <main>
    <!-- Menu Section -->
    <div id="eating-menu">
      <section id="menu-section">
        <h2>Our Menu</h2>
        <div class="menu-items">
          <div class="menu-item">
            <h3>Steak</h3>
            <p>Juicy grilled steak with a side of vegetables.</p>
            <p>Choose between 150g and 250g</p>
            <span>$25 - $35</span>
          </div>
          <div class="menu-item">
            <h3>Burger</h3>
            <p>Delicious beef burger with cheese and lettuce.</p>
            <p>Choose between 150g, 200g, or 250g</p>
            <span>$15, $20, $25</span>
          </div>
          <div class="menu-item">
            <h3>Salad</h3>
            <p>Fresh garden salad with a variety of vegetables.</p>
            <span>$10</span>
          </div>
        </div>
      </section>
    </div>

    <!-- Booking section -->
    <div id="bookings">
      <section id="booking-section">
        <h2>Book a Table</h2>
        <form method="POST" action="{% url 'home' %}">
          {% csrf_token %} {{form}}
          <button type="submit">Book Now</button>
        </form>
      </section>
    </div>

    <!-- Contact section -->
    <div id="contacts">
      <section id="contact-section">
        <h2>Contact us:</h2>
        <p>Phone: <a href="123 45678">123 45678</a></p>
        <p>
          Email:
          <a href="the.meat.hook@email.com">the.meat.hook@email.com</a>
        </p>
        <p>Address: Fictive Street 5, Miami, FL 55555</p>
      </section>
    </div>
  </main>
</div>
{% endblock %}
