main {
  flex: 1;
  display: flex;
  justify-content: center;
}

#delete-conf-section {
  padding: 2rem;
  background-color: #645a55;
  margin: 2rem 1rem 0rem 1rem;
  border-radius: 8px;
  max-width: 500px;
}

#delete-conf-section h2 {
  text-align: center;
  background-color: rgb(222, 191, 151);
  padding: 1rem;
  border-radius: 8px;
}
