main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-conf {
  padding: 2rem;
  background-color: #645a55;
  margin: 2rem 1rem 0rem 1rem;
  border-radius: 8px;
}

.delete-conf h2 {
  text-align: center;
  background-color: rgb(222, 191, 151);
  padding: 1rem;
  border-radius: 8px;
}

.remainder-of-space {
  display: none;
}
