/* Main */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

/* Booking confirmation section */
#confirmation-section {
  background-color: #645a55;
  padding: 1rem;
  text-align: center;
  max-width: 350px;
  border-radius: 8px;
  margin-bottom: 2rem;
}

#confirmation-section h2 {
  background-color: rgb(222, 191, 151);
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}

#confirmation-section h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

#confirmation-section .para-text {
  background-color: rgb(221, 183, 133);
  padding: 1rem;
  margin: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#confirmation-section p {
  margin: 1rem;
}

#confirmation-section a {
  background-color: rgb(221, 183, 133);
  padding: 1rem;
  margin: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  font-size: 1.09rem;
}

#confirmation-section button {
  background-color: rgb(221, 183, 133);
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  font-weight: 450;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #confirmation-section {
    min-width: 600px;
    max-width: 600px;
  }

  #confirmation-section .edit-buttons {
    display: flex;
    justify-content: center;
  }
}
